.cover-img{

	background-image: url(../img/sec_contact12.jpg);
	background-repeat: no-repeat;
	background-position: 100% 100%;
	background-size: 100% 100%;
}

.mycard{

	padding: 60px;
	border-radius: 20px 0 0 20px;
}
.formulario{
	background-color: blue;

}

.form-alt{
	display: none;
}

@media only screen and (max-width: 768px){
	.mycard{
		padding: 0px;
		margin: 0px;
	}
}

@media only screen and (max-width: 600px){
	.form-alt{
		display: block;
	}

	.form-norm{
		display: none;
	}
}
