		/*IMPORTAÇÃO DOS FONTS*/

@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');
@import "style.css";

		/*DEFINIÇÕES DE FONTES*/

.welcome{
font-family: 'Vollkorn', serif;
}


		/*RESETING CONTAINER*/
.container, .container-fluid{

	padding-left: 0;
	padding-right: 0;
}

		/*BARRA DE NAVEGAÇÃO NAVBAR*/
.logo{
	background-image: url(logo.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	background-position: center;
}

.icon{
	height: 50px;
	display:grid;
	align-content: end;
	padding: 4px;
	margin: 0px;
	background-position: center top;
	-webkit-background-size: 25px;
	background-size: 25px;
	background-repeat: no-repeat;
}	

.home{background-image: url(home.png);}
.help{background-image: url(donate.png);}
.about{background-image: url(about.png);}
.cont{background-image: url(contact.png);}

		/*WELCOME JUMBOTRON*/

.welcome{
	height: 100vh;
	background-image: url(base.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.welcome .jumbotron{
	background-color: transparent;
	background-color: rgba(0,0,0, .3);
}
		/*CAROUSEL*/

 .carousel-inner, .carousel-item{height: 90vh;}

  .carousel-control-prev, .carousel-control-next{
    height: 80px;
    width: 80px;
    position: relative;
  }

  .carousel-control-prev::before, .carousel-control-next::before{
    content: '';
    position: absolute;
    background-color: var(--azul-logo);
    height: 60px;
    width: 60px;
    transform: rotate(45deg);
    z-index: -1;
  }
  .carousel-control-prev{margin-left: 30px;}
  .carousel-control-next{margin-right: 30px;}
  .control{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
 .carousel-caption{
      background-color: rgba(0,0,0,.4);
      padding: 10px;
      border-radius: 15px 15px 5px 5px;
    }

	.more{
		background-position: center;
		-webkit-background-size: 70%;
		background-size: 50%;
		background-image: url(here.svg);
		background-repeat: no-repeat;
		padding: 15px 30px;
	}


	/*CONTACTOS*/
.contact{
	/*height: 100vh;*/
	background-image: url(fale-com-nos.jpg);
	background-position: 100%;
	-webkit-background-size: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.form{
	
}
.others{
	width: 40%;
}

.red-soc{
	height: 50px;
	width: 50px;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}
.zappy{background-image: url(whatsapp.png);}
.insta{background-image: url(insta.png);}
.youtube{background-image: url(youtube.png);}

			
		/*MAIN - CONTENT*/

.row .col-md-6 .card{
		width: 80%;
		font-size: 1rem;
	}


.card .row{
		width: 100%;
		margin: 0 auto;
	}

.card img{
		height: 200px; 
	} 

.post-not{
		border-right: 1px solid var(--preto-logo);
	}
.col-md-6 .card {

		margin: 0 auto; 
	}

.item img{
	min-height: 100px;
}

		/*FOOTER*/


	.logo-footer{

		height: 160px;
		width: 150px;
		display: grid;
		align-items: end;
		background-image: url(logo.jpg);
		background-position: cover;
		background-size: 100% 80%;
		background-repeat: no-repeat;
		font-size: 1.2rem;
		color: white;
		text-shadow: 2px 2px 1px blue;
	}



	.addres .card img{

		height: 40px;
		width: 40px;
	}

	.container-fluid{

		padding: 0;
	}


	.social a{

		height: 35px;
		width: 35px;
		background-repeat: no-repeat;
		background-size: 90%;
		background-position: 90%;
		background-color: rgba(69, 79, 84, 1);
	}

	.social a:hover{
		background-color: rgba(113, 122, 128, .5);
	}

	.local{
		font-size: .9rem;
	}
	.addres .card .card-body {
		padding: 6px;
	}

	.facebook{background-image: url(face.png);}
	.insta{background-image: url(insta.png);}
	.youtube{background-image: url(youtube.png);}
	.whatsapp{background-image: url(whatsapp.png);}

			/*PAGINA DE ABOUT*/

.logo-sobre{
		background-image: url(logo.jpg);
		background-position: center;
		-webkit-background-size: 100px;
		background-size: 100px;
		background-repeat: no-repeat;
		height: 120px;
		width: 120px;
	}

	.profile-img{

		height: 150px;
		width: 150px;
		border-radius: 30px;
		margin: 0 auto;
		background-position: 100%;
		background-repeat: no-repeat;
		background-size: 100%;
	}

	.presi{background-image: url(prim.jpg);}
	.presi1{background-image: url(segun.jpg);}
	.presi2{background-image: url(ter.jpg);}

	.red {
		width: 100%;
	}

	.sobre::before{
		content: '';
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;

		background-image: url(logo1.png);
		background-position:  center;
		background-repeat: no-repeat;
		-webkit-background-size: 80%;
		background-size: 80%;
		z-index: -1;
		filter: blur(4px);
	}

	.noticia{
		height: 80vh;
		display: grid;
		align-content: center;
	}




/*BORDER*/

.borda{
	border-radius: 30px;
}

.borda-img{
	border-radius: 30px 30px 0 0;
}



			/*MEDIA QUERYS*/
@media only screen and (max-width: 991px){

		.navbar-brand{
		width: 80%;
		justify-content: center;
		display: grid;
	}
	.icon{background-image: none;}
}


@media only screen and (max-width: 421px){

	.navbar-brand{
	width: 70%;
	justify-content: center;
	display: grid;
	}
}
	/*CAROUSEL*/
@media screen and (max-width: 768px){
      .carousel-inner, .carousel-item{height: 80vh;}
      .post-not, .post{border-right: none;}
      .about-us{font-size: 2rem;}
      .easy-acces{font-size: 1.5rem;}
    } 

    @media screen and (max-width: 683px){
      .carousel-inner, .carousel-item{height: 70vh;}
    } 

    @media screen and (max-width: 594px){
      .carousel-inner, .carousel-item{height: 65vh;}
    } 
    @media screen and (max-width: 555px){
      .carousel-inner, .carousel-item{height: 50vh;}
    } 


    @media screen and (max-width: 426px){
      .carousel-inner, .carousel-item{height: 40vh;}
      .min-desc{display: none;}
    } 

    @media screen and (max-width: 340px){
      .carousel-inner, .carousel-item{height: 35vh;}
    } 

    @media screen and (max-width: 260px){
      .carousel-inner, .carousel-item{height: 30vh;}

    } 


		/*CONTACT*/
   @media screen and (max-width: 360px){
      /*.contact{height: 50vh;}*/
    } 




