/*GERAL*/
bdy{
	font-family: 'Roboto', 'sans-serif'
}

a{color: white;}
.row{
	margin: 0;
}
.container{
	padding:0;
}

/*NAVBAR*/
.home{background-image: url(home.png);}
.about{background-image: url(about.png);}
.donate{background-image: url(donate.png);}
.contact{background-image: url(contact.png);}

.nav-item-size{
	height: 65px;
	width: 40px;
	/*background-color: white;*/
	background-repeat: no-repeat;
	background-position: center 2px;
	background-size: 100% 40px;
	display: grid;
	align-content: end;
	justify-content: center;
	padding-bottom: 0;
	padding-top: 3px;
	font-size: 14px;
}

.borda{border-bottom: 1px solid white;}

header,.navbar{


	color: white;
}
#navItem a{color: #FFF;}
#navItem a:hover{text-decoration: underline; color: lightgrey}

.navbar-brand span{ color: #FFF; }

/*CORES DE BACGROUNDS */

.bg_dark{background-color: rgba(69, 79, 84, 1)}
.bg_dark_transparent{background-color: rgba(53, 61, 65, .7)}
.bg_dark_light{background-color: rgba(80, 92, 98, 1)}
.bg_blue{ background-color: #000080;}
.bg_blue_light{background-color: rgba(87, 120, 173, 1);}
.bg_dark_teste{background-color: #d6d8d9;}
.bg_dark_red{background-color: #854a36;}
.bg-gradiant-grey{background-image: linear-gradient(#696e70, #879096, #9ba1a3);}
/*FIM DOS BACKGROUNDs*/




.carousel-item {
  	height: 70vh;
  	background-size: cover;
  	background-position: center center;
  	/*background-image: url(../img/welcome.jpg);*/
}

.carousel-item h4 {
  	margin: 0;
    color: white;
}

.sms{

	height: 20%;
	width: 100%;
	background-color: rgba(133, 77, 65, .5);
	font-size: 2rem;
}
.sms:hover{

	background-color: transparent;
	color: white;
	transition: all .5s;
}
.img_slide{
	
	background-size: 100% 100%;
	background-position: 100% top;
	background-repeat: no-repeat;
}

.um{background-image: url(welcome.jpg);}
.dois{background-image: url(img1.jpg);}

@media screen and (max-width: 500px) {
	.carousel-caption h3{
		font-size: 1rem;
	}

	.card-title{
		font-size: 1.2rem;
	}

	.carousel-item a{
		font-size: 1rem;
	}
}




.carousel-control-prev:hover,.carousel-control-next:hover{
	background-color: rgba(80, 92, 98, .3);
}



/*CARD */
.card img{

	height: 191.23px;
}


/*ATIVIDADES*/


.list-group-item{

	text-align: center;
	} 

.atividades .list-group-item {
    font-size: 1.5rem;
    padding: 4px;
}

.atividades .list-group-item a:hover{
    text-decoration: none;
    color: #dadee0;
}


.tteste{
	padding: 0;
}
.cronograma {
   
    width: 100%;
}

	/*END OF ATIVIDADES*/


	.logo-footer{

		height: 200px;
		width: 200px;
		display: grid;
		align-items: end;
		background-image: url(logo.jpg);
		background-position: cover;
		background-size: 100% 80%;
		background-repeat: no-repeat;
		font-size: 1.8rem;
		color: white;
		text-shadow: 2px 2px 1px blue;
	}

	/*FOOTER*/

	.addres .card img{

	height: 40px;
	width: 40px;
}

.container-fluid{
   
    padding: 0;
}


.social a{

	height: 35px;
	width: 35px;
	/*background-color:red;*/
	background-repeat: no-repeat;
	background-size: 90%;
	background-position: 90%;
	background-color: rgba(69, 79, 84, 1);
}

.social a:hover{
	background-color: rgba(113, 122, 128, .5);
}

.addres .card .card-body {
    padding: 6px;
}

.facebook{background-image: url(face.png);}
.insta{background-image: url(insta.png);}
.youtube{background-image: url(youtube.png);}
.whatsapp{background-image: url(whatsapp.png);}

.ttt{
	width: 100%;
	display: grid;
}