		/*ABOUT-PAGE*/


.navbar{
	padding: 0; 
}
.navbar-brand, .collapse{

	margin: .5rem;
}


.carousel-item {
 	
 	height: 100%; 	
 }


 .img-sobre{

 	height: 200px;
 }

.menu-alternativo{

 		display: none;
 }


 @media only screen and (max-width: 767px) {
  .menu-alternativo {
    display: block;
  }

  .img-about{
	
	display: grid;
  }

  .text-about{

  	font-size: 3rem;
  }
}

/*DIREÇÃO DE ORGANOZAÇÃO*/

.profile-img{

	height: 150px;
	width: 150px;
	
	border-radius: 30px;
	margin: 0 auto;
	background-position: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
}

.presi{background-image: url(prim.jpg);}
.presi1{background-image: url(segun.jpg);}
.presi2{background-image: url(ter.jpg);}
